@page
@model BillingNextSys.Pages.Received.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="/css/print.css" />
<h2>Index</h2>


<br><br>
@(Html
                                                                    .Grid(Model.Received)
                                                                    .Build(columns =>
                                                                    {
                                                                        columns.Add(model => model.BillDetails.BillNumber).Titled("Billed Number");
                                                                        columns.Add(model => model.BillDetails.ParticularsName).Titled("Bill To");
                                                                        columns.Add(model => model.ReceivedAmount).Titled("Amount Received");
                                                                        columns.Add(model => model.ChequePaymet).Titled("Payment Method:").RenderedAs(model => model.ChequePaymet == true ? "Cheque" : "Cash");
                                                                        columns.Add(model => model.ChequeNumber).Titled("Cheque Number");
                                                                        columns.Add(model => model.ReceivedDate).Titled("Received Date");
                                                                    })
                                                                    .Empty("No data found")
                                                                    .Filterable()
                                                                    .Sortable()
                                                                    .Pageable()
                                                                    .Css("table-hover hgtinc")
)
<br>

<a asp-page="/Dashboard/Admin"><i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard</a>