@page
@model BillingNextSys.PagesBillSeries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BillSeries) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SeriesName">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SeriesName">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SeriesName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
