@page
@model OutstandingBreakDownModel
@{
}
<link rel="stylesheet" href="/css/print.css" />
<br><br>
@(Html
                                                                        .Grid(Model.Bills)
                                                                        .Build(columns =>
                                                                        {
                                                                            columns.Add(model => model.BillNumber).Titled("Bill Number");
                                                                            columns.Add(model => model.BillAmount).Titled("Bill Amount");
                                                                            columns.Add(model => model.SeriesName).Titled("Operation").Filterable(false).Encoded(false).RenderedAs(model => model.SeriesName == null ? "<a href='/Bill/Format2/Print?id=" + model.BillNumber + "&&seccode=" + model.SecretUnlockCode + "'><i class='fa fa-print fa-2x' aria-hidden='true'></i></a> | <a href='/Bill/Format2/Edit?id=" + model.BillNumber + "'><i class='fa fa-pencil fa-2x' aria-hidden='true'></i></a> | <a href='/Bill/Delete?id=" + model.BillNumber + "'><i class='fa fa-trash fa-2x' aria-hidden='true'></i></a>" : "<a href='/Bill/Format1/Print?id=" + model.BillNumber + "&&seccode=" + model.SecretUnlockCode + "'><i class='fa fa-print fa-2x' aria-hidden='true'></i></a> | <a href='/Bill/Format1/Edit?id=" + model.BillNumber + "'><i class='fa fa-pencil fa-2x' aria-hidden='true'></i></a> | <a href='/Bill/Delete?id=" + model.BillNumber + "'><i class='fa fa-trash fa-2x' aria-hidden='true'></i></a>");
                                                                        })
                                                                        .Empty("No data found")
                                                                        .Filterable()
                                                                        .Sortable()
                                                                        .Css("table-hover hgtinc")
)

<h2>Debtor Outstanding Total: @Model.DebtorOutstand</h2>

<h2>Bills Total: @Model.BillAmt</h2>

<a asp-page="/Dashboard/Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard</a>