@page
@model IndexModel
@{
    ViewData["Title"] = "Export";
}
<h2>Export Report</h2>
<br>
<form method="post"><input type="image" src="/images/export.png" alt="Export" width="40px" height="40px" /></form>

@(new HtmlGrid<Models.Bill>(Html, Model.gridd))