@page
@model BillingNextSys.PagesBill.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bill.BillNumber" />
            <div class="form-group">
                <label asp-for="Bill.BilledTo" class="control-label"></label>
                <input asp-for="Bill.BilledTo" class="form-control" />
                <span asp-validation-for="Bill.BilledTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.BillAmount" class="control-label"></label>
                <input asp-for="Bill.BillAmount" class="form-control" />
                <span asp-validation-for="Bill.BillAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.Note" class="control-label"></label>
                <input asp-for="Bill.Note" class="form-control" />
                <span asp-validation-for="Bill.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.InvoiceDate" class="control-label"></label>
                <input asp-for="Bill.InvoiceDate" class="form-control" />
                <span asp-validation-for="Bill.InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.PlaceOfSupply" class="control-label"></label>
                <input asp-for="Bill.PlaceOfSupply" class="form-control" />
                <span asp-validation-for="Bill.PlaceOfSupply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.DebtorGroupID" class="control-label"></label>
                <select asp-for="Bill.DebtorGroupID" class="form-control" asp-items="ViewBag.DebtorGroupID"></select>
                <span asp-validation-for="Bill.DebtorGroupID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.CompanyID" class="control-label"></label>
                <select asp-for="Bill.CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
                <span asp-validation-for="Bill.CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.SeriesName" class="control-label"></label>
                <select asp-for="Bill.SeriesName" class="form-control" asp-items="ViewBag.SeriesName"></select>
                <span asp-validation-for="Bill.SeriesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
