@page
@model BillingNextSys.Pages.Branch.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Branch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Branch.BranchID" />
            <div class="form-group">
                <label asp-for="Branch.BranchName" class="control-label"></label>
                <input asp-for="Branch.BranchName" class="form-control" />
                <span asp-validation-for="Branch.BranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.BranchAddress" class="control-label"></label>
                <textarea asp-for="Branch.BranchAddress" class="form-control"></textarea>
                <span asp-validation-for="Branch.BranchAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.CompanyID" class="control-label"></label>
                <select asp-for="Branch.CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
                <span asp-validation-for="Branch.CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.BranchPhone" class="control-label"></label>
                <textarea asp-for="Branch.BranchPhone" class="form-control"></textarea>
                <span asp-validation-for="Branch.BranchPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch.BranchEmail" class="control-label"></label>
                <textarea asp-for="Branch.BranchEmail" class="form-control"></textarea>
                <span asp-validation-for="Branch.BranchEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
