@page
@model CompanySortModel
@{
    ViewData["Title"] = "Export";
}

<h2>Outstanding for Collection Report</h2>
<form method="Get" action="/Export/Format2/CompanySort" > <select class="form-control" name="companyid" asp-items="ViewBag.CompanyID"></select><input type="submit" class="btn btn-default" value="Sort"> </form><br>

<a asp-page="/Dashboard/Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard</a><br>
<br>
<form method="post"><input type="hidden" name="compid" value="@Model.Cid"><input type="image" src="/images/export.png" alt="Export" width="40px" height="40px" /></form>
<h4>@Model.Cname</h4>

@(new HtmlGrid<Models.Report2>(Html, Model.gridd))

<a asp-page="/Export/Format2/Index">Back to all results</a>